<div class="wrapper" *transloco="let t">
  <div class="modal-container">
    <div class="personal-information">
      <img class="personal-information-img" src="./assets/icons/user-image-png.png" alt="user_icon" />
      <div class="user-data">
        <h3 class="user-name">
          {{ t("editProfile.titleName") }}
          <span>{{ currentUserData.name }}</span>
        </h3>
        <h3 class="user-login">
          {{ t("editProfile.titleLogin") }}
          <span>{{ currentUserData.login }}</span>
        </h3>
      </div>
    </div>
    <form [formGroup]="form">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ t("editProfile.changeName") }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>{{ t("editProfile.enterName") }}</mat-label>
            <input matInput type="text" formControlName="name" name="userName" />
            <button *ngIf="name?.value" matSuffix mat-icon-button aria-label="Clear" (click)="name?.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="name?.invalid">
              <span *ngIf="name?.errors?.['required']">{{
                t("forms.errors.enterName")
                }}</span>
              <div *ngIf="name?.errors?.['minlength']">
                {{ t("forms.errors.lengthName") }}
              </div>
            </mat-error>
          </mat-form-field>

          <mat-action-row>
            <button mat-raised-button class="btn" [disabled]="!name?.valid" (click)="changeUserName()">
              {{ t("forms.btnSubmit") }}
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ t("editProfile.changeLogin") }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>{{ t("editProfile.enterLogin") }}</mat-label>
            <input matInput type="text" formControlName="login" name="userLogin" />
            <button *ngIf="login?.value" matSuffix mat-icon-button aria-label="Clear" (click)="login?.setValue('')">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="login?.invalid">
              <span *ngIf="login?.errors?.['required']">{{
                t("forms.errors.enterLogin")
                }}</span>
              <div *ngIf="login?.errors?.['minlength']">
                {{ t("forms.errors.lengthLogin") }}
              </div>
            </mat-error>
          </mat-form-field>

          <mat-action-row>
            <button mat-raised-button class="btn" [disabled]="!login?.valid" (click)="changeUserLogin()">
              {{ t("forms.btnSubmit") }}
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{
              t("editProfile.changePassword")
              }}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field appearance="fill">
            <mat-label>{{ t("editProfile.enterPassword") }}</mat-label>
            <input matInput formControlName="password" />
          </mat-form-field>
          <mat-error *ngIf="password?.invalid">
            <span *ngIf="password?.errors?.['required']">{{
              t("forms.errors.enterPass")
              }}</span>
            <div *ngIf="password?.errors?.['minlength']">
              {{ t("forms.errors.lengthPass") }}
            </div>
          </mat-error>
          <mat-action-row>
            <button mat-raised-button class="btn" [disabled]="!password?.valid" (click)="changeUserPassword()">
              {{ t("forms.btnSubmit") }}
            </button>
          </mat-action-row>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ t("editProfile.deleteUser") }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-warning">{{ t("editProfile.attention") }}</p>
          <mat-action-row>
            <app-app-confirm (emitConfirm)="deleteUser($event)">
              <button mat-raised-button color="warn">
                {{ t("editProfile.deleteBtn") }}
              </button>
            </app-app-confirm>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </div>
</div>
