<iframe
  *ngIf="lang === 'en'"
  title="ytplayer"
  id="ytplayer"
  type="text/html"
  [width]="widthVideo"
  [height]="heightVideo"
  src="https://www.youtube.com/embed/BrjmCtMQcv0?origin=https://project-management-app-codebusters.netlify.app"
  frameborder="0"
></iframe>

<iframe
  *ngIf="lang === 'ru'"
  title="ytplayer"
  id="ytplayer"
  type="text/html"
  [width]="widthVideo"
  [height]="heightVideo"
  src="https://www.youtube.com/embed/_3kpifxqNiQ?origin=https://project-management-app-codebusters.netlify.app"
  frameborder="0"
></iframe>
