@import "utils-color";
@import "mixins";
@import "bootstrap";


.edit-task-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;

  .edit-task-img {
    width: 25px;
    height: 25px;
    transition: all ease .3s;
    cursor: pointer;

    &:hover {
      transform: rotate(-20deg);
    }
  }
}

.mat-icon-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $btn-delete-color;
  transition: color ease .2s;

  &:hover {
    color: $light-blue-fon-color;
  }
}

.title-task {
  @include title-column;
  margin: 0 auto 10px;
}

.description-task {
  @include description-task;
  margin: 0;
}

.img-task {
  height: 25px;
  margin: 7px 0;
}

.name-user {
  font-size: 10px;
  font-weight: 700;
  padding: 0 7px;
  color: $dark-font-color;
  border: 1px solid $light-grey-color;
  border-radius: 15px;
}

.card-container {
  overflow: hidden;
  word-break: break-all;
}
