<div class="form-container" *transloco="let t">
  <h2 mat-dialog-title>{{t('forms.enterData')}}</h2>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="standard" [style.width.%]=90>
        <mat-label>{{t('forms.title')}}</mat-label>
        <input matInput [placeholder]="t('forms.title-plh')" formControlName="title" />
        <mat-error *ngIf="form.value.title">{{t('board.message-column-title')}}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!isOneFieldForm" appearance="standard" [style.width.%]=90>
        <mat-label>{{t('forms.description')}}</mat-label>
        <textarea
          matInput
          [placeholder]="t('forms.description')"
          formControlName="description"
        ></textarea>
        <mat-error *ngIf="form.value.description">{{t('board.message-column-descript')}}</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn" mat-raised-button (click)="dialogRef.close(false)">{{t('forms.btnClose')}}</button>
    <button class="btn"
      mat-raised-button
      color="primary"
      disabled="{{!form.valid}}"
      (click)="form.valid && submit(form.value)"> {{t('forms.btnSubmit')}}
    </button>
  </mat-dialog-actions>
</div>
